<div mat-dialog-title>
    <h1>Order Form</h1>
  </div>
  <form [formGroup]="orderItemForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input
            matInput
            type="number"
            placeholder="2"
            formControlName="quantity"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Sub Total</mat-label>
          <input
            matInput
            type="number"
            placeholder="4000"
            formControlName="subtotal"
          />
        </mat-form-field>
      </div>     
  
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Order</mat-label>
          <mat-select formControlName="order">
            <mat-option
              *ngFor="let order of orderItemForm.get('orderOptions')?.value || []"
              [value]="order?.orderId"
            >
              {{ order?.user.firstName }} {{ order?.orderId }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Product</mat-label>
          <mat-select formControlName="product">
            <mat-option
              *ngFor="let product of orderItemForm.get('productOptions')?.value || []"
              [value]="product?.productId"
            >
              {{ product?.name }} {{ product?.orderId }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">
        Cancel
      </button>
      <button mat-raised-button color="primary" type="submit">
        {{ data ? "Update" : "Save" }}
      </button>
    </div>
  </form>
  